{% extends "SAMCoreBundle::layout.html.twig" %}
{% block body %}
    <section class="container">
        <section class="homePage jumbotron part1">
            <h1 class="text-center p-2 welcome">{{ 'Bienvenue'|trans }}</h1>
            <span id="textTwig" class="d-none"> {{ 'homepage.presentation.texte' | trans }}</span>
            <span id="textTwig1" class="d-none"> {{ 'homepage.presentation.texte1' |trans }}</span>
            <p id="textTitle"></p>
            <p class="webmaster">{{ 'homepage.presentation.expression' | trans }}. Cédric Badjah</p>
        </section>
    </section>
    <section class="bg-secondary p-3">
        <section class="container">
            <h2 class="text-center part2">{{ 'homepage.actuality.title'| trans }}</h2>
            <article class="d-flex justify-content-around title part2">
                <h3 class="smAdapt part2">Github <i class="fa fa-github" style="font-size:30px"></i></h3>
                <h3 class="smAdapt twitterColor part2">Twitter <i class="fa fa-twitter" style="font-size:30px"></i></h3>
            </article>
            <section class="actu row m-1 part2 d-flex">
                <article class="github part2 col-lg-6">
                    <h3 class="d-lg-none">Github <i class="fa fa-github" style="font-size:30px"></i></h3>
                    <pre class="bg-dark text-white p-2" id="projectMd">Projet : Refonte du portfolio</pre>
                    <pre class="bg-dark text-white p-2" id="dateCommit"></pre>
                    <pre class="bg-dark text-white p-2" id="commit"></pre>
                </article>
                <article  class="twitter part2 col-lg-6">
                    <h3 class="d-lg-none twitterColor">Twitter <i class="fa fa-twitter" style="font-size:30px"></i></h3>
                    {% for twitter in statuses %}
                            <div class="p-4 twitterbg">
                                <h5>
                                    <img class="imgProfilTwit" src="{{ twitter.user.profile_image_url }}" alt="">
                                    <a href="https://twitter.com/{{ twitter.user.name }}">{{ twitter.user.name  }}</a>
                                    <small class="time">{{ twitter.created_at| time_diff }}</small>
                                </h5>
                                <div>
                                    {{ twitter.full_text | deleteHashTags | converturls }}
                                    {% if twitter.entities.media is defined%}
                                        {% for image in twitter.entities.media %}
                                            <img style="width: 100%" src="{{ image.media_url }}" alt="{{ image.media_url }}">
                                        {% endfor%}
                                    {% endif%}
                                </div>
                            </div>
                        {% if twitter.entities.urls %}
                            {% for image in twitter.entities.urls %}
                                <img src="{{ image.display_url }}" alt="{{ image.display_url }}">
                            {% endfor %}
                        {% endif %}
                        <hr>
                    {% endfor %}
                </article>
            </section>
        </section>
    </section>
    <section class="citationSection part3">
        <span class="p-2 font-weight-bold"> {{ 'homepage.citation.title'|trans }} :</span>
        <blockquote id="citationBlock">
        <p id="citation">{{ ''|trans }}</p>
        <span id="author" class="mx-auto"></span>
        </blockquote>
    </section>
    <section class="section2 part4">
        <h2 class="text-center p-2 col-lg-12">{{ 'homepage.skill'|trans }}</h2>
        <section class="row">
            <div class="row col-lg-12 mx-auto">
                <div class="col-lg-7">
                    <canvas id="canvas1" width="300" height="180" data-text='{{ 'homepage.autonomy'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                    <canvas id="canvas2" width="300" height="180" data-text='{{ 'homepage.curiosity'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                    <canvas id="canvas3" width="300" height="180" data-text='{{ 'homepage.work'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                    <canvas id="canvas4" width="300" height="180" data-text='{{ 'homepage.motivation'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                    <canvas id="canvas5" width="300" height="180" data-text='{{ 'homepage.teamwork'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                    <canvas id="canvas6" width="300" height="180" data-text='{{ 'homepage.state'|trans }}'>
                        <p>{{ 'homepage.canvasError'|trans }}</p>
                    </canvas>
                </div>
                <div id="myProgress" class="col-lg-5">
                    <div class="p-2">
                        HTML
                        <div id="bar1" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        Javascript
                        <div id="bar2" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        PHP
                        <div id="bar3" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        MySQL
                        <div id="bar4" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        Web service REST
                        <div id="bar5" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        NodeJS
                        <div id="bar6" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        Ajax
                        <div id="bar7" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        GIT
                        <div id="bar8" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        Framework Symfony
                        <div id="bar9" class="text-center myBar"></div>
                    </div>
                    <div class="p-2">
                        Framework Bootstrap
                        <div id="bar10" class="text-center myBar"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
    {% block js %}
        {% javascripts
        '@SAMCoreBundle/Resources/public/js/appear.js'
        '@SAMCoreBundle/Resources/public/js/progressBar.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% if (app.request.getLocale()) == 'fr' %}
            {% javascripts'@SAMCoreBundle/Resources/public/js/citationFr.js'%}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% elseif (app.request.getLocale()) == 'en'%}
            {% javascripts'@SAMCoreBundle/Resources/public/js/citationEn.js'%}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endif %}

        <script>
            ajaxGet("{{ apiUrl }}", function (rep) {
                var api = JSON.parse(rep);
                document.getElementById("commit").textContent = api[0].commit.message;
                document.getElementById("dateCommit").textContent = new Date(api[0].commit.committer.date).toLocaleString()
            });
        </script>
    {% endblock %}

