{% extends "SAMCoreBundle::layout.html.twig" %}
{% block body %}
    <section class="container">
        <section class="homePage jumbotron">
            <h1 class="text-center">Bienvenue</h1>
            <p class="text-center">Ce site web présente mes activités et mes projets réalisés.</p>
        </section>
        <h2 class="text-center">Actualités</h2>
        <section class="actu row">
            <article class="github col-lg-6">
                <h3>Github <i class="fa fa-github" style="font-size:30px"></i></h3>
                <pre class="bg-dark text-white p-2" id="projectMd">Projet : Refonte du portfolio</pre>
                <pre class="bg-dark text-white p-2" id="dateCommit"></pre>
                <pre class="bg-dark text-white p-2" id="commit"></pre>
            </article>
            <article  class="twitter col-lg-6">
                <h3>Twitter <i class="fa fa-twitter" style="font-size:30px"></i></h3>
                {% for twitter in statuses %}
                    {% if twitter.retweeted %}
                        <div class="p-4 twitterbg">
                            <h5>
                                <img class="imgProfilTwit" src="{{ twitter.retweeted_status.user.profile_image_url }}" alt="">
                                <a href="https://twitter.com/{{ twitter.retweeted_status.user.name }}">{{ twitter.retweeted_status.user.name  }}</a>
                                <small class="time">{{ twitter.retweeted_status.created_at| time_diff }}</small>
                            </h5>
                            <div>
                                {{ twitter.full_text | deleteHashTags | converturls }}
                                {% if twitter.retweeted_status.extended_entities is defined %}
                                    {% for imageRT in twitter.retweeted_status.extended_entities.media %}
                                        <img style="width: 100%" src="{{ imageRT.media_url }}" alt="">
                                    {% endfor%}
                                {% elseif twitter.retweeted_status.entities is defined%}
                                    <p>Pas de tweet</p>
                                {% endif%}
                            </div>
                        </div>
                    {% else%}
                        <div class="p-4 twitterbg">
                            <h5>
                                <img class="imgProfilTwit" src="{{ twitter.user.profile_image_url }}" alt="">
                                <a href="https://twitter.com/{{ twitter.user.name }}">{{ twitter.user.name  }}</a>
                                <small class="time">{{ twitter.created_at| time_diff }}</small>
                            </h5>
                            <div>
                                {{ twitter.full_text | deleteHashTags | converturls }}
                                {% if twitter.entities.media %}
                                    {% for image in twitter.entities.media %}
                                        <img style="width: 100%" src="{{ image.media_url }}" alt="">
                                    {% endfor%}
                                {% endif%}
                            </div>
                        </div>
                    {% endif %}

                    {% if twitter.entities.urls %}
                        {% for image in twitter.entities.urls %}
                            <img src="{{ image.display_url }}" alt="">
                        {% endfor %}
                    {% endif %}
                    <hr>
                {% endfor %}
            </article>
        </section>
        <section class="region p-4">
            <h2 class="text-center">Région d'origine</h2>
            {% image '@SAMCoreBundle/Resources/public/images/route.jpg' %}
            <img  src="{{ asset_url }}" alt="laptop" />
            {% endimage %}
            {% image '@SAMCoreBundle/Resources/public/images/margouillat.jpg' %}
            <img  src="{{ asset_url }}" alt="laptop" />
            {% endimage %}
        </section>
    </section>


{% endblock %}
    {% block js %}
        <script>
            ajaxGet("https://api.github.com/repos/samakunchan/SamakunchanWebsite/commits", function (rep) {
                var api = JSON.parse(rep);
                document.getElementById("commit").textContent = api[0].commit.message;
                document.getElementById("dateCommit").textContent = new Date(api[0].commit.committer.date).toLocaleString()
            });
            ajaxGet("https://api.github.com/repos/samakunchan/SamakunchanWebsite", function (rep) {
                var api = JSON.parse(rep);
                console.log(api);
            });
        </script>
    {% endblock %}

