<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% image '@SAMCoreBundle/Resources/public/images/favicon-96x96.png' %}
    <link rel="icon"
          type="image/png"
          sizes="96x96"
          href="{{ asset_url }}">
    {% endimage %}

    <title>{% block title %}Samakunchan Website{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% stylesheets '@SAMCoreBundle/Resources/public/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body id="body">
    <div id="fondLoader">
        <div id="loader"></div>
    </div>
    {% block nav %}
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Samakunchan Website</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark samCtrl" href="{{ path('sam_core_homepage') }}">{{ 'header.home'|trans }}</a>
            <a class="p-2 text-dark samCtrl" href="{{ path('sam_portfolio_portfoliopage') }}">Portfolio</a>
            <a class="p-2 text-dark samCtrl" href="{{ path('sam_core_contactpage') }}">Contact</a>
            {% if is_granted('ROLE_ADMIN')  %}
            <a class="p-2 text-dark samCtrl" href="{{ path('sam_admin_homepage') }}">Admin</a>
            {% endif %}
        </nav>
    </header>
    {% endblock %}
    <main class="row">
        <p class="mx-auto flagLink">
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                {% image '@SAMCoreBundle/Resources/public/images/drapeau-france-icone-7111-128.png' %}
                <img class="flag" src="{{ asset_url }}" alt="France" title="Traduire en français"/>
                {% endimage %}
            </a>
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                {% image '@SAMCoreBundle/Resources/public/images/drapeau-royaume-uni-icone-7511-128.png' %}
                <img class="flag" src="{{ asset_url }}" alt="England" title="Translate to english"/>
                {% endimage %}
            </a>
        </p>
        <section id="content" class="col-lg-12">
            {% block body %}
            {% endblock %}
        </section>
    </main>
    <hr>
    {% block footer %}
        <nav class="menuFooter">
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle menuBtn "
                        type="button"
                        id="dropdownMenu2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Menu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdownMenu2">
                    <li><a class="text-dark " id="toTop" href="">{{ 'dropup.btn'|trans }}</a></li>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <li><a class="text-dark " href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="text-dark " href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <footer id="footer">
            <p>By Samakunchan © with Symfony 3.4.8.</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" type="text/javascript"></script>
        {% javascripts
        '@SAMCoreBundle/Resources/public/js/loader.js'
        '@SAMCoreBundle/Resources/public/js/ajax.js'
        '@SAMCoreBundle/Resources/public/js/scroll.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>


