{% extends "SAMCoreBundle::layout.html.twig" %}
{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert">
            <p>Message flash : {{ message }}</p>
        </div>
    {% endfor %}
        <h1>Page Admin</h1>
        <ul>
            <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profil</a></li>
            <li><a href="{{ path('sam_admin_projectpage') }}">Ajouter un projet</a></li>
            <li><a href="{{ path('sam_admin_certifpage') }}">Ajouter un certification</a></li>
            <li><a href="{{ path('sam_admin_followpage') }}">Ajouter un projet à suivre</a></li>
        </ul>
    <hr>

        <form method="post" >
                <label for="projectsToFollow">Choisir le projet à suivre</label><br />
                <select name="projectsToFollow" id="projectsToFollow">
    {% for projects in projectsToFollow %}
                    <option value="{{ projects.nameRepo }}">{{ projects.nameRepo }}</option>
    {% endfor %}
                </select>
        </form>
{% endblock %}