{% extends "SAMCoreBundle::layout.html.twig" %}

{% block body %}
    <h1 class="text-center">Mes réalisations</h1>
    <section class="container">
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-6">
                    <h2 class="col-lg-12">{{ project.name }}</h2>
                    <p class="col-lg-12">{{ project.description }}</p>
                    <article class="view-project">
                        {% for img in project.image.values %}
                            {% if loop.index is odd %}
                                <img class="image{{ loop.index }} col-lg-12" src="{{ asset('bundles/../uploads/img')}}/{{ img.alt }}" alt="{{ img.alt }}">
                            {% endif %}
                            {% if loop.index is even %}
                                <h4 class="col-lg-12">Détails</h4>
                                <nav class="d-flex">
                                    <mark class="col-lg-6">
                                        {% for tech in project.technologies.values %}
                                            <span class="badge badge-info p-2">{{ tech.name }}</span>
                                        {% endfor %}
                                    </mark>
                                    <button type="button"
                                            class="btn btn-primary"
                                            title="{{ project.name }}"
                                            data-trigger="focus"
                                            data-content="
                                        <div class='media'>
                                                <img style='width: 100%;' src='{{ asset('bundles/../uploads/img')}}/{{ img.alt }}'
                                                class='media-object' alt='Sample Image'>
                                        </div>"
                                            data-toggle="popover">Voir un aperçu
                                    </button>
                                </nav>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section class="container">
        <h1>Mes certifications</h1>
        <canvas id="myChart" style="width:30%"></canvas>
        <h2>Nombre total: {{ certifications | length }}</h2>
        <article id="zoneCertif" class="row">
            {% if listweb %}
            <section id="webCertif" class="col-lg-6">
                <h4>Web général</h4>
                {% for web in listweb %}
                    <a class="allweb {{ web.certifNumber }}" href="{{ asset('bundles/../uploads/img')}}/{{ web.image.alt }}">
                        {{ web.title }}
                    </a>
                    <br>
                {% endfor %}
            </section>
            {% endif %}
            {% if listhtml %}
                <section id="htmlCertif" class="col-lg-6">
                    <h4>HTML5/CSS3</h4>
                    {% for html in listhtml %}
                        <a class="allhtml {{ html.certifNumber }}" href="{{ asset('bundles/../uploads/img')}}/{{ html.image.alt }}">
                            {{ html.title }}
                        </a>
                        <br>
                    {% endfor %}
                </section>
            {% endif %}
            {% if listjs %}
            <section id="jsCertif" class="col-lg-6">
                <h4>Javascript</h4>
                {% for js in listjs %}
                    <a class="alljs {{ js.certifNumber}}" href="{{ asset('bundles/../uploads/img')}}/{{ js.image.alt }}">
                        {{ js.title }}
                    </a>
                    <br>
                {% endfor %}
            </section>
            {% endif %}
            {% if listphp %}
                <section id="phpCertif" class="col-lg-6">
                    <h4>PHP</h4>
                    {% for php in listphp %}
                        <a class="allphp {{ php.certifNumber }}" href="{{ asset('bundles/../uploads/img')}}/{{ php.image.alt }}">
                            {{ php.title }}
                        </a>
                        <br>
                    {% endfor %}
                </section>
            {% endif %}
        </article>
    </section>
{% endblock %}


{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" type="text/javascript"></script>
    <script>
        Chart.pluginService.register({
            beforeDraw: function (chart) {
                if (chart.config.options.elements.center) {
                    //Get ctx from string
                    var ctx = chart.chart.ctx;

                    //Get options from the center object in options
                    var centerConfig = chart.config.options.elements.center;
                    var fontStyle = centerConfig.fontStyle || 'Arial';
                    var txt = centerConfig.text;
                    var color = centerConfig.color || '#000';
                    var sidePadding = centerConfig.sidePadding || 20;
                    var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
                    //Start with a base font of 30px
                    ctx.font = "50px " + fontStyle;

                    //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                    var stringWidth = ctx.measureText(txt).width;
                    var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

                    // Find out how much the font can grow in width.
                    var widthRatio = elementWidth / stringWidth;
                    var newFontSize = Math.floor(30 * widthRatio);
                    var elementHeight = (chart.innerRadius * 2);

                    // Pick a new font size so it will not be larger than the height of label.
                    var fontSizeToUse = Math.min(newFontSize, elementHeight);

                    //Set font settings to draw it correctly.
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'middle';
                    var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
                    var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
                    ctx.font = fontSizeToUse+"px " + fontStyle;
                    ctx.fillStyle = color;

                    //Draw text in center
                    ctx.fillText(txt, centerX, centerY);
                }
            }
        });
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        document.getElementsByClassName('allweb').length,
                        document.getElementsByClassName('allhtml').length,
                        document.getElementsByClassName('alljs').length,
                        document.getElementsByClassName('allphp').length
                    ],
                    backgroundColor: [
                        '#ff2f30',
                        '#ffad17',
                        '#449c7c',
                        '#1717ff'
                    ],
                    label: 'Dataset 2',
                    hoverBackgroundColor : [
                        '#ff1b1c',
                        '#FFA500',
                        '#32936f',
                        '#0000ff'
                    ],
                    hoverBorderColor: [
                        'white',
                        'white',
                        'white',
                        'white'
                    ],
                    hoverBorderWidth: ['5', '5', '5', '5']
                }],
                labels: [
                    'Web général',
                    'HTML/CSS',
                    'Javascript',
                    'PHP'
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'right'
                },
                title: {
                    display: true,
                    text: "Vision d'ensemble des technologies certifiés."
                },
                elements: {
                    center: {
                        text: 'Certifications',
                        sidePadding: 20
                    }
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'bottom',
                html : true,
                delay : { show: 300, hide: 100 },
                viewport: {
                    selector: 'popover',
                    width: 100
                }
            });
        });
    </script>
{% endblock %}