{% extends "SAMCoreBundle:Core:home.html.twig" %}

{# Dans notre layout, il faut définir le block body #}

    {% block portfolio %}
        <p>Salut</p>

        {% for project in projects %}
            <div>
                <p>{{ project.name }}</p>
                <p>{{ project.description }}</p>
            {% for img in project.image.values %}
                <img src="{{ project.webPath }}/{{ img.alt }}" alt="{{ img.alt }}">
            {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}