{% extends "SAMCoreBundle::layout.html.twig" %}

{% block body %}
    <h1 class="text-center">Mes réalisations</h1>
    <section class="container">
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-6">
                    <h2 class="col-lg-12">{{ project.name }}</h2>
                    <p class="col-lg-12">{{ project.description }}</p>
                    <article class="view-project">
                        {% for img in project.image.values %}
                            {% if loop.index is odd %}
                                <img class="image{{ loop.index }} col-lg-12" src="{{ asset('bundles/../uploads/img')}}/{{ img.alt }}" alt="{{ img.alt }}">
                            {% endif %}
                            {% if loop.index is even %}
                                <h4 class="col-lg-12">Détails</h4>
                                <nav class="d-flex">
                                    <mark class="col-lg-6">
                                        {% for tech in project.technologies.values %}
                                            <span class="badge badge-info p-2">{{ tech.name }}</span>
                                        {% endfor %}
                                    </mark>
                                    <button type="button"
                                            class="btn btn-primary"
                                            title="{{ project.name }}"
                                            data-trigger="focus"
                                            data-content="
                                        <div class='media'>
                                                <img style='width: 100%;' src='{{ asset('bundles/../uploads/img')}}/{{ img.alt }}'
                                                class='media-object' alt='Sample Image'>
                                        </div>"
                                            data-toggle="popover">Voir un aperçu
                                    </button>
                                </nav>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section class="container">
        <h1>Mes certifications</h1>
        <nav class="menuCertif text-center">
            <div class="btn-group" data-toggle="buttons">
                <span class="btn btn-warning active">
                    <a id="WebBtn" class="" href=""> Web</a>
                </span>
                <span class="btn btn-warning">
                    <a id="HTML5Btn" class="" href=""> HTML5/CSS3</a>
                </span>
                <span class="btn btn-warning">
                    <a id="JavacriptBtn" class="" href="">Javacript</a>
                </span>
                <span class="btn btn-warning">
                    <a id="PHPBtn" class="" href="">PHP</a>
                </span>
            </div>
        </nav>
        <article id="zoneCertif">
            <h2>Nombre total: {{ certifications | length  }}</h2>
            {% if listweb %}
            <section id="webCertif">
                <h4>Web général</h4>
                {% for web in listweb %}
                    <a class="{{ web.url }}" href="{{ asset('bundles/../uploads/img')}}/{{ web.image.alt }}">
                        <img class="image1" src="{{ asset('bundles/../uploads/img')}}/{{ web.image.alt }}" alt="{{ web.image.alt }}">
                    </a>
                    <br>
                {% endfor %}
            </section>
            {% endif %}
            {% if listhtml %}
                <section id="htmlCertif">
                    <h4>HTML5/CSS3</h4>
                    {% for html in listhtml %}
                        <a class="{{ html.url }}" href="{{ asset('bundles/../uploads/img')}}/{{ html.image.alt }}">
                            <img class="image1" src="{{ asset('bundles/../uploads/img')}}/{{ html.image.alt }}" alt="{{ html.image.alt }}">
                        </a>
                        <br>
                    {% endfor %}
                </section>
            {% endif %}
            {% if listjs %}
            <section id="jsCertif">
                <h4>Javascript</h4>
                {% for js in listjs %}
                    <a class="{{ js.url }}" href="{{ asset('bundles/../uploads/img')}}/{{ js.image.alt }}">
                        <img class="image1" src="{{ asset('bundles/../uploads/img')}}/{{ js.image.alt }}" alt="{{ js.image.alt }}">
                    </a>
                    <br>
                {% endfor %}
            </section>
            {% endif %}
            {% if listphp %}
                <section id="phpCertif">
                    <h4>PHP</h4>
                    {% for php in listphp %}
                        <a class="{{ php.url }}" href="{{ asset('bundles/../uploads/img')}}/{{ php.image.alt }}">
                            <img class="image1" src="{{ asset('bundles/../uploads/img')}}/{{ php.image.alt }}" alt="{{ php.image.alt }}">
                        </a>
                        <br>
                    {% endfor %}
                </section>
            {% endif %}
        </article>
    </section>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'bottom',
                html : true,
                delay : {show: 300, hide: 100},
                viewport: {
                    selector: 'popover',
                    width: 100
                }
            });

            $('#WebBtn').click(function () {
                $('#webCertif').show(3000);
                $('#htmlCertif').hide(3000);
                $('#jsCertif').hide(3000);
                $('#phpCertif').hide(3000);
            });
            $('#HTML5Btn').click(function () {
                $('#htmlCertif').show(3000);
                $('#webCertif').hide(3000);
                $('#jsCertif').hide(3000);
                $('#phpCertif').hide(3000);
            });
            $('#JavacriptBtn').click(function () {
                $('#jsCertif').show(3000);
                $('#htmlCertif').hide(3000);
                $('#webCertif').hide(3000);
                $('#phpCertif').hide(3000);
            });
            $('#PHPBtn').click(function () {
                $('#phpCertif').show(3000);
                $('#htmlCertif').hide(3000);
                $('#webCertif').hide(3000);
                $('#jsCertif').hide(3000);
            });
        });
    </script>
{% endblock %}